ion-card{
    margin-top: 25%;
}

.container{
    display: flex;
    flex-direction:column;
    
}
.uno{
    align-items: left;
    padding: 2rem;
}
.dos{
    margin-top: 50px;
    align-items: center;
}
ion-input{
    margin-bottom: 15px;
}
ion-img{
    margin-bottom: 15px;
}